html{
    background-color: #A2D6F9;
}

header{
    background-color: white;
}

.header{
    font-family: monospace;
    text-align: center;
}

#thinkful-logo{
    width: 150px;
}

.hr-image{
    background-image: url('images/hr-raypham.gif');
}

div hr{
    height: 39px;
    border: white;
    margin-bottom: 15px;
}

.nav-list{
    list-style-position: inside;
    font-family: cursive;
    text-align: center;
}

a:link{
    color: black;
}

a:visited{
    color: #072AC8;
}

a:hover{
    color: #FFC600;
}

a:active{
    color: #1E96FC;
}

.main-container{
    margin-top: 80px;
    text-align: center;
}

.heading{
    font-family: monospace;
}

main{
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
    font-size: 20px;
}

.main-heading{
    background-color: #FFC600;
}

ul{
    list-style-position: inside;
}

#rydell-on-roof{
    width: 275px;
    border-radius: 10%;
}

strong{
    font-family: 'arial narrow'; 
    letter-spacing: 1.5px;
    color: #072AC8;
    background-color: #1E96FC;
    padding-left: 5px;
    padding-right: 5px;
}

#hurdle-action{
    width: 650px;
}

.margin{
    margin-top: 50px;
}

#downtown-sacramento{
    width: 800px;
}

#github-logo{
    width: 80px;
}

#linkedin-logo{
    width: 80px;
}

footer{
    background-color: white;
    text-align: center;
}
